###################################################
#       _   _            _                        #
#      | | | |          (_)                       #
#      | |_| | ___  _ __ _ _______  _ __          #
#      |  _  |/ _ \| '__| |_  / _ \| '_  \        #
#      | | | | (_) | |  | |/ / (_) | | | |        #
#      \_| |_/\___/|_|  |_/___\___/|_| |_|        #
###################################################
# This file is part of Horizon (c).
# Copyright (c) 2018 Horizon Dev Team.
#
# Base Author - Sagun Khosla. (sagunxp@gmail.com)
#
# Under a proprietary license this file is not for use
# or viewing without permission.
###################################################
#    Authentication Server Configuration File     #
###################################################

###################################################
# IP & Port Settings
###################################################
bind_ip: "0.0.0.0"
bind_port: 6900

###################################################
# Auth Server Database Settings
###################################################
database: {
    hostname: "localhost"
    port: 3306
    database: "horizon"
    username: "ragnarok"
    password: "ragnarok"
    connection_threads: 2
}

###################################################
# network_threads
# Description: Number of threads for network.
# Default:        1 - (Recommended 1 thread per 1000 connections)
# Note: Cannot be less than 1.
###################################################
network_threads: 2

###################################################
# Inter Server Settings
###################################################
inter_server: {
    ip_address: "127.0.0.1"
    port: 9998
    password: "ABCDEF"
}

###################################################
# Check the client's version before allowing a connection.
# Default: 0 (disabled)
###################################################
client_versions: {
    min: 20141022
    max: 20170101
}

###################################################
# Global Thread Pool
# Used for
#        - Core Signal handling
#        - Socket Networking
###################################################
global_io_threads: 2

###################################################
# Server Update Interval (in milliseconds)
# - The interval through which a server will update
#   its events and global timers.
# Default: 500ms
###################################################
core_update_interval: 500


###################################################
#! Auth Specific Settings
###################################################

###################################################
# MD5 Password Hashing
# 0 = disabled
# 1 = MD5 (client sent)
# 2 = Bcrypt (Server-Side Advanced hashing)
###################################################
pass_hash_method: 2

###################################################
# Log all requests to the login server
#
# Required for dynamic password failure ban.
###################################################
log: {
    enable_logging: 1
    login_max_tries: 3             # Limit of failed logins before a ban is issued.
    login_fail_ban_time: 10        # Time in seconds to ban an account on crossing the limit.
    login_fail_check_time: 600     # Time in seconds to hold failure information.
}

###################################################
# Date format used to send time information to the client.
###################################################
client_date_format: "%Y-%m-%d %H:%M:%S"

###################################################
# Character Servers Information
# Description:
# Information regarding character servers
# to connect to.
# Name - not more than 20 characters.
# Server Types - 0 = normal, 1 = maintenance, 2 = over 18, 3 = paying, 4 = P2P
####################################################
character_servers: (
{
    name: "Asgard"
    host: "localhost"
    port: 6121
    type: 0
    is_new: 1
}
)
