###################################################
#       _   _            _                        #
#      | | | |          (_)                       #
#      | |_| | ___  _ __ _ _______  _ __          #
#      |  _  |/ _ \| '__| |_  / _ \| '_  \        #
#      | | | | (_) | |  | |/ / (_) | | | |        #
#      \_| |_/\___/|_|  |_/___\___/|_| |_|        #
###################################################
# This file is part of Horizon (c).
# Copyright (c) 2018 Horizon Dev Team.
#
# Base Author - Sagun Khosla. (sagunxp@gmail.com)
#
# Under a proprietary license this file is not for use
# or viewing without permission.
###################################################
#    Character Server Configuration File          #
###################################################

###################################################
# IP & Port Settings
###################################################
BindIP: "0.0.0.0"
BindPort: 6121

###################################################
# Inter Server Settings
###################################################
InterServer.IP: "127.0.0.1"
InterServer.Port: 9998

###################################################
# network_threads
# Description: Number of threads for network.
# Default:        1 - (Recommended 1 thread per 1000 connections)
# Note: Cannot be less than 1.
###################################################
Network.Threads: 2

###################################################
# Char Server Database Settings
###################################################
database:
    hostname: "localhost"
    port: 3306
    database: "horizon"
    username: "ragnarok"
    password: "ragnarok"
    connection_threads: 2

###################################################
# Log all requests to the character server
#
# Required for dynamic password failure ban.
###################################################
log: true

###################################################
# Global Thread Pool
# Used for
#        - Core Signal handling
#        - Socket Networking
###################################################
global_io_threads: 2

###################################################
# Server Update Interval (in milliseconds)
# - The interval through which a server will update
#   its events and global timers.
# Default: 500ms
###################################################
core_update_interval: 500