###################################################
#       _   _            _                        #
#      | | | |          (_)                       #
#      | |_| | ___  _ __ _ _______  _ __          #
#      |  _  |/ _ \| '__| |_  / _ \| '_  \        #
#      | | | | (_) | |  | |/ / (_) | | | |        #
#      \_| |_/\___/|_|  |_/___\___/|_| |_|        #
###################################################
#         Inter Server Configuration File         #
###################################################

###################################################
# IP & Port Settings
###################################################
bind_ip: "0.0.0.0"
bind_port: 9998
password: "$2a$12$uAhi4RtvH.UkDhJsfIdZzOgLPhcnHmtbAG56XDyXzaWWPN3S4H0m6"

###################################################
# Global Thread Pool
# Used for
#        - Core Signal handling
#        - Socket Networking
###################################################
global_io_threads: 5

###################################################
# Server Update Interval (in milliseconds)
# - The interval through which a server will update
#   its events and global timers.
# Default: 500ms
###################################################
core_update_interval: 500

###################################################
# network_threads
# Description: Number of threads for network.
# Default:        1 - (Recommended 1 thread per 1000 connections)
# Note: Cannot be less than 1.
###################################################
network_threads: 1

###################################################
# Server Database Settings
###################################################
database: {
    hostname: "localhost"
    port: 3306
    database: "horizon"
    username: "ragnarok"
    password: "ragnarok"
    connection_threads: 1
}

###################################################
# Log all requests to the Inter Server
###################################################
log: {
	enable_logging: 1
}

