###################################################
#       _   _            _                        #
#      | | | |          (_)                       #
#      | |_| | ___  _ __ _ _______  _ __          #
#      |  _  |/ _ \| '__| |_  / _ \| '_  \        #
#      | | | | (_) | |  | |/ / (_) | | | |        #
#      \_| |_/\___/|_|  |_/___\___/|_| |_|        #
###################################################
#         Zone Server Configuration File          #
###################################################

###################################################
# IP & Port Settings
###################################################
BindIP: "0.0.0.0"
BindPort: 5121

###################################################
# network_threads
# Description: Number of threads for network.
# Default:        1 - (Recommended 1 thread per 1000 connections)
# Note: Cannot be less than 1.
###################################################
Network.Threads: 5

###################################################
# Zone Server Database Settings
###################################################
database:
    hostname: "localhost"
    port: 3306
    database: "horizon"
    username: "ragnarok"
    password: "ragnarok"
    connection_threads: 5

###################################################
# Log all requests to the zone server
###################################################
log: true

###################################################
# Global Thread Pool
# Used for
#        - Core Signal handling
#        - Socket Networking
###################################################
global_io_threads: 5

###################################################
# Server Update Interval (in milliseconds)
# - The interval through which a server will update
#   its events and global timers.
# Default: 500ms
###################################################
core_update_interval: 500