------------------------------------------------------------------------------------------------------
--       _   _            _                        --
--      | | | |          (_)                       --
--      | |_| | ___  _ __ _ _______  _ __          --
--      |  _  |/ _ \| '__| |_  / _ \| '_  \        --
--      | | | | (_) | |  | |/ / (_) | | | |        --
--      \_| |_/\___/|_|  |_/___\___/|_| |_|        --
------------------------------------------------------------------------------------------------------
-- This file is part of Horizon (c).
-- Copyright (c) 2018 Horizon Dev Team.
--
-- Base Author - Sagun Khosla. (sagunxp@gmail.com)
--
-- Under a proprietary license this file is not for use
-- or viewing without permission.
------------------------------------------------------------------------------------------------------
--    Zone Server Configuration File               --
------------------------------------------------------------------------------------------------------

server_config = {
	------------------------------------------------------------------------------------------------------
	-- IP & Port Settings
	------------------------------------------------------------------------------------------------------
	bind_ip = "0.0.0.0",
	bind_port = 5121,

	------------------------------------------------------------------------------------------------------
	-- Client Type
	-- Default: 0 (Ragexe)
	-- Types: 0 = Ragexe
	--        1 = RagexeRE
	--        2 = Zero
	--        3 = AD
	--        4 = Sakray
	------------------------------------------------------------------------------------------------------
	client_type = 0,

	------------------------------------------------------------------------------------------------------
	-- Packet Version allowed.
	------------------------------------------------------------------------------------------------------
	packet_version = 20171206,

	------------------------------------------------------------------------------------------------------
	-- Global Thread Pool
	-- Used for
	--        - Core Signal handling
	--        - Socket Networking
	------------------------------------------------------------------------------------------------------
	global_io_threads = 1,

	------------------------------------------------------------------------------------------------------
	-- Map Container Thread Pool
	-- Used for
	--         - Map management
	--         - Game logic handling
	--         - Status/Damage/Scripts in managed maps.
	------------------------------------------------------------------------------------------------------
	map_containers = 6,

	------------------------------------------------------------------------------------------------------
	-- Server Update Interval (in microseconds)
	-- - The interval through which a server will update
	--   its events and global timers.
	-- Default: 500µs
	------------------------------------------------------------------------------------------------------
	core_update_interval = 500,

	------------------------------------------------------------------------------------------------------
	-- network_threads
	-- Description: Number of threads for network.
	-- Default:        1 - (Recommended 1 thread per 1000 connections)
	-- Note: Cannot be less than 1.
	------------------------------------------------------------------------------------------------------
	network_threads = 5,

	------------------------------------------------------------------------------------------------------
	-- Zone Server Database Settings
	------------------------------------------------------------------------------------------------------
	database = {
	    hostname = "localhost",
	    port = 3306,
	    database = "horizon",
	    username = "ragnarok",
	    password = "ragnarok",
	    connection_threads = 5,
	},

	------------------------------------------------------------------------------------------------------
	-- Log all requests to the zone server
	------------------------------------------------------------------------------------------------------
	log = {
		enable_logging = 1,
	},

	------------------------------------------------------------------------------------------------------
	-- Static Database Settings
	------------------------------------------------------------------------------------------------------
	static_db_path = "db/",
	map_cache_file_name = "maps.dat",
}
